bills,bills,bilss

1. bge
2. att
3. comcast

1. fix your attitude (i.e. burn as many calories as is necessary to getrrr done)
   + no credo
   + no settings
2. fix your credo (i.e., your god, ideals, and values are unchanging)
   + change settings to reflect your credo
   + change attitude to reflect your credo
3. fix your settings (i.e., your environment is unchanging)
   + have no credo and be somewhat agnostic
   + but gradually master the limited environment you've restricted yourself to

In [52]:
from tabulate import tabulate

data21 = [
    ["Rank21", "Name21", "Followers21"],
    [1, "Instagram", "400 million"],
    [2, "Cristiano Ronaldo", "340 million"],
    [3, "Dwayne 'The Rock' Johnson", "245 million"],
    [4, "Kylie Jenner", "240 million"],
    [5, "Kim Kardashian", "230 million"],
    [6, "Lionel Messi", "220 million"],
    [7, "Beyoncé", "170 million"],
    [8, "Neymar Jr.", "160 million"],
    [9, "Taylor Swift", "150 million"],
    [10, "National Geographic", "150 million"],
    [11, "Justin Bieber", "150 million"],
    [12, "Kendall Jenner", "140 million"],
    [13, "Jennifer Lopez", "140 million"],
    [14, "Nicki Minaj", "140 million"],
    [15, "Nike", "130 million"],
    [16, "Miley Cyrus", "130 million"],
    [17, "Katy Perry", "130 million"],
    [18, "Khloé Kardashian", "130 million"],
    [19, "Rihanna", "120 million"],
    [20, "Kourtney Kardashian", "120 million"],
    [21, "Virat Kohli", "120 million"],
    [22, "NASA", "120 million"],
    [23, "Ellen DeGeneres", "100 million"],
    [24, "Real Madrid C.F.", "100 million"],
    [25, "FC Barcelona", "100 million"],
    [26, "LeBron James", "100 million"],
    [27, "Demi Lovato", "100 million"],
    [28, "Zlatan Ibrahimović", "95 million"],
    [29, "Shakira", "95 million"],
    [30, "Nicky Jam", "95 million"],
    [31, "Kevin Hart", "95 million"],
    [32, "NASA Goddard", "95 million"],
    [33, "Priyanka Chopra Jonas", "95 million"],
    [34, "9GAG", "95 million"],
    [35, "Cardi B", "95 million"],
    [36, "Ronaldinho", "95 million"],
    [37, "Emma Watson", "90 million"],
    [38, "Chris Brown", "90 million"],
    [39, "Selena Gomez", "90 million"],
    [40, "The Weeknd", "90 million"],
    [41, "Narendra Modi", "90 million"],
    [42, "Gareth Bale", "90 million"],
    [43, "FC Bayern Munich", "90 million"],
    [44, "Nike Football", "85 million"],
    [45, "Vin Diesel", "85 million"],
    [46, "Justin Timberlake", "85 million"],
    [47, "NASA Jet Propulsion Laboratory", "85 million"],
    [48, "David Beckham", "85 million"],
    [49, "Maluma", "85 million"],
    [50, "Billie Eilish", "85 million"]
]

data23 = [
    ["Name23", "Followers23", "Country"],
    ["Instagram", "649", "United States"],
    ["Cristiano Ronaldo", "597", "Portugal"],
    ["Lionel Messi", "480", "Argentina"],
    ["Selena Gomez", "426", "United States"],
    ["Kylie Jenner", "397", "United States"],
    ["Dwayne Johnson", "387", "United States"],
    ["Ariana Grande", "377", "United States"],
    ["Kim Kardashian", "362", "United States"],
    ["Beyoncé", "314", "United States"],
    ["Khloé Kardashian", "310", "United States"],
    ["Nike", "302", "United States"],
    ["Justin Bieber", "293", "Canada"],
    ["Kendall Jenner", "293", "United States"],
    ["National Geographic", "281", "United States"],
    ["Taylor Swift", "268", "United States"],
    ["Virat Kohli", "255", "India"],
    ["Jennifer Lopez", "249", "United States"],
    ["Nicki Minaj", "223", "Trinidad and Tobago, United States"],
    ["Kourtney Kardashian", "223", "United States"],
    ["Miley Cyrus", "212", "United States"],
    ["Neymar", "210", "Brazil"],
    ["Katy Perry", "203", "United States"],
    ["Zendaya", "183", "United States"],
    ["Kevin Hart", "178", "United States"],
    ["Cardi B", "168", "United States"],
    ["LeBron James", "156", "United States"],
    ["Demi Lovato", "156", "United States"],
    ["Rihanna", "152", "Barbados"],
    ["Real Madrid CF", "143", "Spain"],
    ["Chris Brown", "142", "United States"],
    ["Drake", "140", "Canada"],
    ["Ellen DeGeneres", "139", "United States"],
    ["FC Barcelona", "122", "Spain"],
    ["Billie Eilish", "109", "United States"],
    ["UEFA Champions League", "107", "Europe"],
    ["Gal Gadot", "105", "Israel"],
    ["Kylian Mbappé", "105", "France"],
    ["Vin Diesel", "97.5", "United States"],
    ["Lisa", "95.9", "Thailand"],
    ["NASA", "94.3", "United States"],
    ["Dua Lipa", "88.6", "United Kingdom, Albania"],
    ["Priyanka Chopra", "88.5", "India"],
    ["Shakira", "87.9", "Colombia"],
    ["NBA", "82.4", "United States, Canada"],
    ["Shraddha Kapoor", "81.7", "India"],
    ["David Beckham", "80.8", "United Kingdom"],
    ["Jennie", "80.2", "South Korea"],
    ["Snoop Dogg", "80.2", "United States"],
    ["Khaby Lame", "79.7", "Italy, Senegal"],
    ["Gigi Hadid", "78.8", "United States"]
]

# Combine the data and calculate the difference in row numbers
combined_data = []
for i in range(1, 51):
    row_data21 = data21[i]
    name21 = row_data21[1]
    row_data23 = next((row for row in data23 if row[0] == name21), None)
    if row_data23:
        row_number_difference = i - data23.index(row_data23)
    else:
        row_data23 = [""] * 3  # Fill with empty values if no match is found in data23
        row_number_difference = ""

    combined_row = row_data21 + row_data23 + [row_number_difference]
    combined_data.append(combined_row)

# Display the combined table
headers = ["Rank21", "Name21", "Followers21", "Name23", "Followers23", "Country", "Row Difference"]
print(tabulate(combined_data, headers=headers))

  Rank21  Name21                          Followers21    Name23               Followers23    Country                             Row Difference
--------  ------------------------------  -------------  -------------------  -------------  ----------------------------------  ----------------
       1  Instagram                       400 million    Instagram            649            United States                       0
       2  Cristiano Ronaldo               340 million    Cristiano Ronaldo    597            Portugal                            0
       3  Dwayne 'The Rock' Johnson       245 million
       4  Kylie Jenner                    240 million    Kylie Jenner         397            United States                       -1
       5  Kim Kardashian                  230 million    Kim Kardashian       362            United States                       -3
       6  Lionel Messi                    220 million    Lionel Messi         480            Argentina                           3
       7  Beyoncé                         170 million    Beyoncé              314            United States                       -2
       8  Neymar Jr.                      160 million
       9  Taylor Swift                    150 million    Taylor Swift         268            United States                       -6
      10  National Geographic             150 million    National Geographic  281            United States                       -4
      11  Justin Bieber                   150 million    Justin Bieber        293            Canada                              -1
      12  Kendall Jenner                  140 million    Kendall Jenner       293            United States                       -1
      13  Jennifer Lopez                  140 million    Jennifer Lopez       249            United States                       -4
      14  Nicki Minaj                     140 million    Nicki Minaj          223            Trinidad and Tobago, United States  -4
      15  Nike                            130 million    Nike                 302            United States                       4
      16  Miley Cyrus                     130 million    Miley Cyrus          212            United States                       -4
      17  Katy Perry                      130 million    Katy Perry           203            United States                       -5
      18  Khloé Kardashian                130 million    Khloé Kardashian     310            United States                       8
      19  Rihanna                         120 million    Rihanna              152            Barbados                            -9
      20  Kourtney Kardashian             120 million    Kourtney Kardashian  223            United States                       1
      21  Virat Kohli                     120 million    Virat Kohli          255            India                               5
      22  NASA                            120 million    NASA                 94.3           United States                       -18
      23  Ellen DeGeneres                 100 million    Ellen DeGeneres      139            United States                       -9
      24  Real Madrid C.F.                100 million
      25  FC Barcelona                    100 million    FC Barcelona         122            Spain                               -8
      26  LeBron James                    100 million    LeBron James         156            United States                       0
      27  Demi Lovato                     100 million    Demi Lovato          156            United States                       0
      28  Zlatan Ibrahimović              95 million
      29  Shakira                         95 million     Shakira              87.9           Colombia                            -14
      30  Nicky Jam                       95 million
      31  Kevin Hart                      95 million     Kevin Hart           178            United States                       7
      32  NASA Goddard                    95 million
      33  Priyanka Chopra Jonas           95 million
      34  9GAG                            95 million
      35  Cardi B                         95 million     Cardi B              168            United States                       10
      36  Ronaldinho                      95 million
      37  Emma Watson                     90 million
      38  Chris Brown                     90 million     Chris Brown          142            United States                       8
      39  Selena Gomez                    90 million     Selena Gomez         426            United States                       35
      40  The Weeknd                      90 million
      41  Narendra Modi                   90 million
      42  Gareth Bale                     90 million
      43  FC Bayern Munich                90 million
      44  Nike Football                   85 million
      45  Vin Diesel                      85 million     Vin Diesel           97.5           United States                       7
      46  Justin Timberlake               85 million
      47  NASA Jet Propulsion Laboratory  85 million
      48  David Beckham                   85 million     David Beckham        80.8           United Kingdom                      2
      49  Maluma                          85 million
      50  Billie Eilish                   85 million     Billie Eilish        109            United States                       16